﻿@model RDB.ViewModels.ReservationsViewModel

@{
    ViewData["Title"] = "CCF Silang Worship Service";
}

<div class="row main_content">
    <div class="container" style="text-align:center; margin-bottom: 25px; margin-top: -25px">
        <h3>
            CCF Silang Worship Service Reservation
        </h3>
        <h4>
            Date: @Html.DisplayFor(e => e.EventDate)
        </h4>

    </div>
</div>
<div class="row main_content">
    <div class="card card-custom container">
        <div class="card-header">
            <h3 class="card-title">
                RESERVATION FORM
            </h3>
        </div>
        <form asp-action="Index" autocomplete="off">
            <div class="card-body">
                @if (Model.CustomErrorMessage != null)
                {
                    <div class="form-group mb-8">
                        <div class="alert alert-custom alert-outline-warning" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                            <div class="alert-text">
                                @Model.CustomErrorMessage
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group row">
                    <label asp-for="EventDate" class="col-4 col-form-label"></label>
                    <input asp-for="EventDate" type="hidden" />
                    <label class="col-8 col-form-label font-weight-bolder">
                        @Html.DisplayFor(e => e.EventDate)
                    </label>
                </div>

                <div class="form-group row">
                    <label asp-for="ScheduleId" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <select asp-for="ScheduleId" class="form-control"
                                asp-items="ViewBag.Schedules"></select>
                        <span asp-validation-for="ScheduleId" class="form-text text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="FirstName" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="FirstName" class="form-control" type="text" autocomplete="off" />
                        <span asp-validation-for="FirstName" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LastName" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="LastName" class="form-control" type="text" autocomplete="off" />
                        <span asp-validation-for="LastName" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Age" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="Age" class="form-control" type="text" autocomplete="off" />
                        <span asp-validation-for="Age" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Address" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Address" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ContactNo" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="ContactNo" class="form-control" type="text" autocomplete="off" />
                        <span asp-validation-for="ContactNo" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" type="text" autocomplete="off" />
                        <span asp-validation-for="Email" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">My Companions</label>
                    <div class="col-8">
                        @for (var i = 0; Model.Companions.Count > i; i++)
                        {
                            <div class="row">
                                <div class="col-8">
                                    <input asp-for="Companions[i].CompanionName" class="form-control" type="text" placeholder="Full Name" />
                                    <span asp-validation-for="Companions[i].CompanionName" class="form-text text-danger"></span>

                                </div>
                                <div class="col-4">
                                    <input asp-for="Companions[i].Age" class="form-control" type="text" placeholder="Age" />
                                    <span asp-validation-for="Companions[i].Age" class="form-text text-danger"></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card-footer waiver">
                <div class="row" style="text-align:center;">
                    <h6 class="waiver-title">
                        RELEASE OF LIABILITY AND ASSUMPTION OF RISK
                    </h6>
                </div>
                <div class="row">
                    <ol class="waiver-items">
                        <li>
                            As a participant/guest during the <u>CCF Silang Sunday Worship Service</u> (the “Ministry Event”), I know and understand that attending and participating in the Ministry Event will potentially expose me to related health risk brought about by COVID-19 due to its contagious nature. I am also aware that Christ’s Commission Foundation, Inc. (“CCFI”)/Christ’s Commission Foundation Ministries, Inc. (“CCFMI”) cannot guarantee that I or any participant will not become infected with COVID-19 while in its premises.
                        </li>
                        <li>
                            I will make sure to read and abide by the rules and internal protocols and honestly answer the health symptom questionnaire. In the event that a participant has had COVID-19 symptoms within the past 14 days or currently has COVID-19 symptoms, I understand that CCFI/CCFMI reserves the right to deny entry or escort out any participant who exhibited or exhibits such symptoms and/or refuses to follow internal protocols.
                        </li>
                        <li>
                            I hereby hold CCFI/CCFMI, its trustees, officers, pastors, employees, personnel, representatives and assigns free and harmless from all liability in the event that I contract the virus or incur any injury, loss or damage that shall arise or may hereafter arise from the Ministry Event or for denying a participant entry or for removing any participant. I hereby agree to assume all COVID-19 related risks and accept sole responsibility for any injury/harm to myself including but not limited to personal injury, disability, death or any expense of any kind.

                        </li>
                        <li>
                            I also understand that CCFI/CCFMI, its directors, officers, pastors, personnel, representatives and assigns do not assume any responsibility for or obligation to provide financial assistance or other medical assistance if I contract COVID-19.

                        </li>
                        <li>
                            I understand that CCFI/CCFMI can take the proper legal action against any guest/participant who deliberately fails or refuses to disclose the correct health information.

                        </li>
                        <li>
                            I grant my free, voluntary and unconditional consent to the collection, processing and retention of all Personal Information disclosed by me or my authorized representative/s to CCFI/CCFMI and/or any of its authorized agent/s or representative/s, in compliance with the Data Privacy Act of 2012 including its Implementing Rules and Regulations (IRR) as well as all other guidelines and issuances by the National Privacy Commission (NPC). I further acknowledge and agree that CCFI/CCFMI, its authorized personnel, and third-party providers may share these Personal Information among them.
                        </li>
                    </ol>

                    @*<p>
                        1.	As a participant/guest during the CCF Silang Sunday Worship Service (the “Ministry Event”), I know and understand that attending and participating in the Ministry Event will potentially expose me to related health risk brought about by COVID-19 due to its contagious nature. I am also aware that Christ’s Commission Foundation, Inc. (“CCFI”)/Christ’s Commission Foundation Ministries, Inc. (“CCFMI”) cannot guarantee that I or any participant will not become infected with COVID-19 while in its premises.
                    </p>
                    <p>
                        2.	I will make sure to read and abide by the rules and internal protocols and honestly answer the health symptom questionnaire. In the event that a participant has had COVID-19 symptoms within the past 14 days or currently has COVID-19 symptoms, I understand that CCFI/CCFMI reserves the right to deny entry or escort out any participant who exhibited or exhibits such symptoms and/or refuses to follow internal protocols.
                    </p>
                    <p>
                        3.	I hereby hold CCFI/CCFMI, its trustees, officers, pastors, employees, personnel, representatives and assigns free and harmless from all liability in the event that I contract the virus or incur any injury, loss or damage that shall arise or may hereafter arise from the Ministry Event or for denying a participant entry or for removing any participant. I hereby agree to assume all COVID-19 related risks and accept sole responsibility for any injury/harm to myself including but not limited to personal injury, disability, death or any expense of any kind.
                    </p>
                    <p>
                        4.	I also understand that CCFI/CCFMI, its directors, officers, pastors, personnel, representatives and assigns do not assume any responsibility for or obligation to provide financial assistance or other medical assistance if I contract COVID-19.
                    </p>
                    <p>
                        5.	I understand that CCFI/CCFMI can take the proper legal action against any guest/participant who deliberately fails or refuses to disclose the correct health information.
                    </p>
                    <p>
                        6.	I grant my free, voluntary and unconditional consent to the collection, processing and retention of all Personal Information disclosed by me or my authorized representative/s to CCFI/CCFMI and/or any of its authorized agent/s or representative/s, in compliance with the Data Privacy Act of 2012 including its Implementing Rules and Regulations (IRR) as well as all other guidelines and issuances by the National Privacy Commission (NPC). I further acknowledge and agree that CCFI/CCFMI, its authorized personnel, and third-party providers may share these Personal Information among them.
                    </p>*@
                </div>
                <div class="row waiver-checkbox">
                    <div class="col-1">
                        <input type="checkbox" id="chkWaiver" />
                    </div>
                    <div class="col-11">
                        I have read this Release of Liability and Assumption of Risk Agreement and have fully understood its terms. I have check marked this form freely and voluntarily fully aware of the risks and without any inducement.
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary mr-2" disabled>Submit</button>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">Schedules</div>
                    <div class="col-8">
                        <ul style="list-style-type:none;">
                            @foreach (var schedule in (List<Tuple<string, string>>)ViewBag.RemainingSeats)
                            {
                                <li>@schedule.Item1 <b>&bull; @schedule.Item2</b></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a asp-controller="Reservations" asp-action="Index">Registration List</a>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/custom/waiver.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}