﻿@model RDB.ViewModels.ReservationSuccessViewModel

@{
    ViewData["Title"] = "CCF Silang Worship Service";
}

<div class="row main_content">
    <div class="container">
        <div class="card card-custom" style="text-align: center">
            <div class="row card-spacer-y" style="margin-left:60px; margin-right:60px;">
                @Html.DisplayTextFor(e => e.SuccessMessage)
                <br />
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <img src="@Model.QRCode" alt="Ticket" style="height:auto; width:100%" />
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>

