﻿@model RDB.ViewModels.ReservationListViewModel

@{
    ViewData["Title"] = "CCF Silang Worship Service";
}

<div id="main_content" class="row">
    <div id="container" class="card card-custom gutter-b">
        <div class="card-header flex-wrap py-3">
            <div class="card-title">
                <h3 class="card-label">
                    Registration List
                </h3>
            </div>
            <div class="card-toolbar">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary font-weight-bolder mr-2">
                    <span class="svg-icon svg-icon-md">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1" />
                                <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) " />
                            </g>
                        </svg>
                    </span>Back
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="card-toolbar">
                <form asp-action="Index" class="form-group row col-12">
                    <div style="width: 30%; margin-right:10px;">
                        <div class="input-group date">
                            <input asp-for="EventDate" type="text" class="form-control" id="kt_datepicker_2" placeholder="Select date" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="width:46%; margin-right:10px;">
                        <select class="form-control" asp-for="ScheduleId" asp-items="ViewBag.Schedules"></select>
                    </div>
                    <div style="width:18%">
                        <button type="submit" class="btn btn-success font-weight-bolder">
                            Generate
                        </button>
                    </div>
                </form>
            </div>
            @if (Model.ReservationTable.Count > 0)
            {
                <table class="table table-separate table-head-custom">
                    <thead>
                        <tr>
                            <td>
                                <h5>List of Reservations of @Html.DisplayFor(e => e.EventDate) @Html.DisplayFor(e => e.ScheduleDescription)</h5>
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                    @foreach (var item in Model.ReservationTable)
                    {
                        <tr>
                            <td>
                                @item.FullName

                                @if (item.CompanionNames.Count > 0)
                                {
                                    <ul style="list-style-type:none;">
                                        @foreach (var companionName in item.CompanionNames)
                                        {
                                            <li>@companionName</li>
                                        }
                                    </ul>
                                }
                            </td>
                            <td>Seat #@item.SeatNumbers</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>